.wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: #ffefd3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start {
    width: 235px;
    height: 40px;
    margin: 50px 0;
    -webkit-box-shadow: 3px 4px 15px 6px rgba(60, 60, 60, 0.74);
    box-shadow: 3px 4px 15px 6px rgba(60, 60, 60, 0.74);
    background-color: #ADB6C4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.start:hover {
    filter: brightness(95%);
    transition: filter 0.5s ease-in-out;
}

.info {
    font-size: 30px;
    margin: 40px 0;

}